* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
.main_flex {
    display: flexbox;
    width: auto;
    height: 850px;
    padding: 0;
    margin: 0;
}
.photo {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 35px auto;
}
.photo img {
    border-radius: 15px;
    box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.253)
}

.description {
    align-items: center;
    justify-content: center;
    width: 330px;
    margin: 20px auto;
}
.description h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 19px;
    letter-spacing: 2px;
    margin: 15px auto;
    margin-bottom: 10px;
}
.description p {
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 1.3px;
    line-height: 18px;
    font-weight: 400;
    margin: 5px auto;
}

.location {
    align-items: center;
    justify-content: center;
    width: 330px;
    margin: 10px auto;
}
.location h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 19px;
    letter-spacing: 2px;
    margin: 15px auto;
    margin-bottom: 18px;
}
/* ------------------------- */
.sticky {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    list-style: none;
    box-shadow: -1px -8px 35px -2px rgba(0, 0, 0, 0.075);
    background: white;
    width: auto;
    height: 60px;
    margin: 5px auto;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.sticky_p {
    width: 150px;
    margin: 0;
    padding: 0;
}
.sticky button {
    width: 100px;
    height: 38px;
    border-radius: 12px;
    border: none;
    background: rgb(117, 211, 255);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.116);
    color: white;
}

footer {
    width: auto;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
    text-align: justify;
    letter-spacing: 1.3px;
    text-align: center;
    margin: 0;
    padding: 0;
}